<div class="lol">
  <br>
  <label class="string required control-label" for="city_cities_main_city2"><abbr title="required"></abbr>* New point</label>
  <input class="string required form-control" placeholder="Your city" type="text" name="city[cities_main][<%=Time.zone.now%>]"><br>
</div>
   
