    <div class="lol">
      <br>
      <label class="string required control-label" for="city_cities_main_city2"><abbr title="required"></abbr> New point</label>
      <input class="string required form-control" type="text" name="city[cities_main][<%=Time.zone.now%>]", id="city_cities_main_city"><br>
      <div id="delete">
        <%= link_to "Delete", "/delete", id: "delete",  remote: true,  :class => 'btn-custom' %>
      </div>
    </div>
   


