/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

*= require tree 
*= require sortable_tree
*= require nested_options

 */

@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500); 
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Raleway:400|Ropa+Sans|Bree+Serif);

/* Variables, mixins, etc.. */

@mixin background-tile {
  box-sizing: border-box;
  background-color: #FFF5EE;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1.5em 1.25em;
}
/* General styles */

body {
 margin-top:70px;
  background-color: #fff; 
}
.user-panel {
  margin: 10px 0 0 0;
}
.search {
   margin: 10px 0 0 120px;
}
.logo{
    a {
      text-decoration: none;
      color: white;
    }
    font-size: 35px;
    color: white;
    font-family: 'Bree Serif', serif;
}
.cart-top {
    background: #FFF5EE;
    text-align: center;
    width: 85%;
    float: right;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.product {
  height: 350px;
  width: 250px;
  margin-bottom: 40px;
  @include background-tile;
}



/* Navbar/navigation styles */

.navbar {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}
.navbar-default {
  background-color: #FFF5EE;
  padding-bottom: 5px;
  padding-top: 5px;

  .navbar-nav > li > a {
    color: #222;
    &:hover {
      color: darken(#FFEBCD, 5%);
      transition: 0.5s;
    }
  }

  .navbar-header {

    .navbar-brand {
      color: #222;
      letter-spacing: 1.4px;
    }

  }

  .dropdown-menu > li > a:hover {
    background-color: darken(#FFEBCD, 5%);
    color: #fff;
  }

  .navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
    background-color: darken(#FFEBCD, 5%);
    color: #fff;  
  }

}

.dropdown-menu > .active > a {
  background-color: #FFEBCD;
  color: #fff;
}


/* Button/link styles */

.btn-custom {
  color: darken(#f1c40f, 5%);
  background-color: #fff;
  border: 1px solid darken(#EECBAD, 5%);
  padding: 8px 20px;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  &:hover {
    text-decoration: none;
    background-color: darken(#EECBAD, 5%);
    color: #fff;
    transition: 0.5s;
  }
}

.btn-custom2 {
  color: #333;
  background-color: #fff;
  border: 1px solid #222;
  padding: 8px 20px;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  &:hover {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    transition: 0.5s;
  } 
}

.links {

  .btn-custom {
    padding: 3px 10px;
    font-weight: 300;
  }
  .btn-custom1 {
    padding: 3px 2px;
    font-weight: 100;
  }

}

.product-links {

  .btn-custom {
    padding: 3px 10px;
    font-weight: 300;
    margin-top: 40px; 
  }

}

/* product styles */
.product-show {
  height: 475px;
  width: 325px;
  @include background-tile;
}
.photo {
  padding-top: 20px;
  height: 90px;
  width: 50px;

}

.product {
  @include background-tile;
  .avg-rating {
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .number-of-reviews {
    font-size: 0.85em;
    font-style: italic;
  }

  
  .product-desc {
    font-size: 1.05em;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .product-title {
    font-size: 2.05em;
  }

}

.shop-now {
  text-align: center;
  margin: 0 20px 20px 0;
}
.total_price {
  padding-top: 15px;
}
.add_to_cart {
 text-align: center;
}


/* current-category styles */

.current-category {
  margin-bottom: 40px;
}


/* Reviews styles */

.reviews {

  @include background-tile;
  margin: 40px 0 10px 200px;

  h1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 2em;
  }

  .review {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 15px;
    padding-bottom: 10px;

    .review-comment {
      font-size: 1.05em;
      line-height: 1.5;
    }

  }

  .new-review {
    padding-top: 8px;
  }

}
/* New product Form styles */

.new-product-form {
  @include background-tile;
  margin: 40px 0 40px 0;
}


/* Edit product Form styles */

.edit-product-form {
   margin: 40px 0 10px 0;
  @include background-tile;

}

/* New/Edit review form styles */

.new-review-form, .edit-review-form {
  @include background-tile;

}
.admin-option {
  margin: 20px 0 0 0;
}


/* Signup/Login form styles */

.signup-form {
  @include background-tile;

  h2 {
    margin-top: 0;
  }

}

.login-form {
  @include background-tile;

  h2 {
    margin-top: 0;
  }

}